.homeContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50% 50%;
  color: var(--bg-white);
  /* overflow-y: scroll; */
  height: 100%;
  width: 100%;
  padding: 10px;
}
.leftPanel {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 65% 35%;
  background-color: var(--bg-black-matte);
  height: 100%;
  width: 100%;
}
.name {
  width: 100%;
  display: grid;
  align-items: center;
  padding: 5%;
  color: #eae9ea;
}
.description {
  padding-block-start: 5%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 20px;
  overflow: hidden;
}
.contactButton {
  font-size: 0.8rem;
  padding: 8px;
  width: max-content;
  height: max-content;
  border: solid 1px var(--bg-gold);
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
}
.contactButton:hover {
  background-color: var(--bg-gold);
  color: var(--bg-black-matte);
}
.position {
  height: max-content;
  width: max-content;
  background-color: var(--bg-gold);
  border-radius: 1rem;
  padding: 8px;
  font-weight: 600;
  font-size: 1rem;
  color: var(--bg-black-matte);
  overflow: hidden;
}
.nameContent {
  font-size: 2.3rem;
  font-style: normal;
  font-stretch: wider;
  font-variant: normal;
  font-weight: 500;
  padding-block-start: 6%;
}
.webDesign {
  font-weight: 600;
  color: var(--bg-gold);
}
.leftPanel .leftBottom {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  /* justify-content: center; */
  padding: 5%;
  overflow: hidden;
}
.experience,
.projects {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content 50%;
  align-items: center;
  grid-gap: 8px;
  justify-content: center;
}
.separator {
  height: 30%;
  width: 0.2rem;
  background-color: var(--bg-gold);
}
.count {
  width: max-content;
  font-size: 2.5rem;
}
.leftBottomText {
  font-size: 0.8rem;
}
.welcome {
  position: absolute;
  color: var(--bg-grey);
  right: 1%;
  bottom: 0;
  font-size: 1.5rem;
  line-height: 6rem;
}
.rightPanel {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--bg-black-matte);
}
.rightPanel img {
  width: 100%;
  height: 75%;
}

@media all and (max-width: 768px) {
  .rightPanel img {
    width: 88%;
    height: 88%;
  }
  .homeContainer {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-auto-columns: auto;
    height: max-content;
    width: 100%;
    overflow: hidden;
  }
}

@media all and (max-width: 412px) {
  .rightPanel,
  .leftPanel {
    padding-block: 5%;
  }
  .leftPanel {
    grid-gap: 16px !important;
  }
  .nameContent {
    font-size: 1.6rem;
    padding-block-start: 10%;
  }
  .position {
    padding: 6px;
  }
  .description {
    padding-block-start: 8%;
  }
  .rightPanel img {
    width: 90%;
    height: 90%;
  }
}
